__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
__pycache__/
*.log
*.sqlite3
serviceAccountKey.json
Install Files.zip
Install Files/

# PyInstaller outputs
build/
dist/
*.spec.bak

# WiX build outputs
installer/*.wixobj
installer/*.wixpdb
installer/*.wixout

